.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  min-width: 265px;
  background: #FFF;
  box-shadow: 0 2px 12px rgba(196,205,213,0.4);
  border-radius: 4px;
  border: thin solid #fff;

  & > .header {
    margin: 20px;
    font-size: 25px;
    color: #666;

    .title {
      padding: 5px;
    }

    .count {
      font-size: 15px;
    }
  }

  &.drag-over {
    background-color: #e6ffe6;
  }

  &.droppable {
    border: thin dashed #ccc;
  }
}