.card {
  display: flex;
  border: 1px solid #DFE3E8;
  border-radius: 4px;
  transform: translateY(5px);
  box-shadow: 0 0 0 rgba(196,205,213,0);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;

  &:hover {
    transform: translateY(0);
    box-shadow: 2px 2px 5px rgba(196,205,213,100);
  }

  &.editing {
    transform: translateY(0);
    box-shadow: 2px 2px 5px rgba(196,205,213,100);
    border: thin dashed #666;
  }

  .body {
    flex-grow: 1;
    text-align: left;
    font-size: 15px;
    color: #666;
  }

  &.dragging {
    opacity: 0.2;
  }

  textarea {
    border: 0;
    font-size: 15px;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
  }
}